body {
  margin: 320px;
  background-color: #444;
  text-align: center;
}

body > * {
  margin: 20px;
  vertical-align: top;
}

img {
  width: 320px;
}

emoji-slider:nth-of-type(1) {
  transform: rotate(-12deg);
}

emoji-slider:nth-of-type(2) {
  background: #d69;
  --emoji-slider-text-color: #ffeedc;
  --emoji-slider-bar-color: #ffeedc;
}

emoji-slider:nth-of-type(3) {
  background: #409;
}